/* Menu, and shopping cart window css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 44px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-bottom: 2px solid #222;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-brand {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 20px 0;
}

/* Search form styling within the navbar */
.search-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

    .search-form input, .search-form select {
        border-radius: 5px;
        padding: 8px 12px;
        background: #fff;
        border: 1px solid #ccc;
    }

    .search-form button {
        background-color: #444;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
    }

        .search-form button:hover {
            background-color: #e66454; /* Darker shade for hover effect */
        }

/* Cart link styling */
.cart-button, .checkout-button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

    .cart-button:hover {
        background-color: #444;
    }

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    transition: width 0.5s ease;
}

    .modal:target {
        display: block;
        width: 25%;
    }

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0;
    padding: 20px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

    .modal-content ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        overflow-y: auto; /* Allows vertical scrolling */
        max-height: 800px;
        flex-grow: 1;
    }

    .modal-content li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .modal-content img {
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }

    .modal-content .item-details {
        flex-grow: 1; /* Allows the details to take up remaining space */
        padding-right: 40px;
    }

.item-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    color: black;
    text-decoration: none;
    float: right;
    font-size: 24px;
}

/* General styling for table and table data */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Centering table headers and data */
th, td {
    text-align: center;
}

    /* Styling for images in table cells */
    td img {
        display: block;
        margin: auto;
        width: 50px;
        height: auto;
    }

/* Button styling */
.button, .clear-button, .order-button, .home-button, .decrement-button, .increment-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    text-align: center;
    outline: none;
    background-color: #555;
}



.clear-button {
    background-color: #ff4c4c;
}

.order-button {
    background-color: #4CAF50;
}

.home-button {
    background-color: #007bff;
}

.decrement-button, .increment-button {
    background-color: #555;
    color: white;
    font-weight: bold;
}


    .button:hover, .clear-button:hover, .order-button:hover, .home-button:hover, .decrement-button:hover, .increment-button:hover {
        opacity: 0.8;
    }


form {
    display: inline;
}

form, .button {
    margin-top: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

    .product-list li {
        flex: 0 0 calc(20% - 20px);
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box; 
    }

    .product-list li img {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        height: 200px; 
        object-fit: cover; 
    }

    .product-list li h3 a {
        font-size: 18px;
        color: black;
    }

    .product-list li p {
        font-size: 14px;
    }

    .product-list li button[type="submit"] {
        background-color: #dcdcdc; 
        color: #555; 
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
    }

    .product-list li button[type="submit"]:hover {
        background-color: #c0c0c0; 
    }

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination .page-item {
    display: inline;
    margin-right: 5px;
}

.pagination .page-item button {
    background-color: #dcdcdc; 
    color: #555;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.pagination .page-item button:hover {
    background-color: #c0c0c0; 
}

.product-details {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .product-details h1 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }

.product-info {
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px;
}

    .product-info h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .product-info img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        height: auto;
    }

.buttons button[type="submit"] {
    background-color: #dcdcdc;
    color: #555;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

    .buttons button[type="submit"]:hover {
        background-color: #c0c0c0;
    }


